/* Global Styles */

body {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: #964B00 !important;
    background: #F0E4CC;
}

h1 {
    color: #000
}

p {
    margin: 0;
    padding: 0;
}


/* Typography */

#column1, #column2, #column3 {
    font-size: 1.2rem
}

.nav-link {
    font-size: 1.2rem;
    margin: 0 0.7rem;
}


/* Navigation */

.navbar {
    background-color: transparent;
    border-bottom: none;
    padding: 0;
}

.navbar-nav {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.nav-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    text-align: center;
    z-index: 10;
}

.nav-item {
    margin: 0 25px;
}


/* Buttons */

.btn-primary, .btn-primary:hover {
    background-color: #964B00;
    color: #fff;
    border-color: #fff;
}

.btn-secondary, .btn-secondary:hover {
    background-color: #fff !important;
    color: #964B00;
    border-color: #452B1F;
}

.btn-outline-danger, .btn-outline-danger:hover {
    background-color: #964B00;
    color: #fff;
    border-color: #fff;
}


.btn-danger, .btn-danger:hover {
    background-color: #964B00 !important;
    color: #fff;
    border-color: #fff
}




/* Components */

#food-list .form-control {
    border: none;
    padding: 5px;
    width: fit-content;
    display: inline;
}

#food-list .list-group-item {
    align-items: center;
}

.week-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.delete-button {
    float: right;
}

.delete-btn {
    float: right;
    margin-left: 10px;
}

.edit, .delete {
    float: right;
    margin-left: 10px;
}

.editing {
    display: inline-block;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.selected {
    background-color: rgba(0, 255, 0, 0.2);
}

.add-calorie-button:active {
    animation: pulse 0.5s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: #333;
        color: #fff;
    }
    50% {
        transform: scale(1.2);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: initial;
        color: initial;
    }
}


/* Layout */

.container {
    padding-bottom: 60px; /* Add some space at the bottom for the nav */
}


