/* Global Styles */

body, html {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #333;
   
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    
    letter-spacing: 1px;
}

.arrowbuttons .btn-primary {
    background-color: transparent !important;
    color: #8B4513 !important; /* SaddleBrown */
    border: 2px solid #8B4513 !important;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.arrowbuttons .btn-primary:hover {
    background-color: #8B4513 !important;
    color: #fff !important;
    
}

h3 {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #444;
   
    letter-spacing: 1px;
}

.add-calorie-button {
    font-size: 0.875rem;
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent !important;
    color: #6B8E23 !important; /* OliveDrab */
    border: 2px solid #6B8E23 !important;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.add-calorie-button:hover {
    background-color: #6B8E23 !important;
    color: #fff !important;
    transform: translateY(-2px);
}

@media (min-width: 390px) {
    .add-calorie-button {
        width: calc(47% - 0rem);
    }
}

.btn-cal {
    text-align: center;
}

hr {
    display: none;
}

.btn-primary {
    background: transparent !important;
    color: #007bff !important; /* Chocolate */
    border: 2px solid #007bff !important;
    border-radius: 20px;
   
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
    background-color: #007bff !important;
    color: #fff !important;
    
}

.btn-dark {
    background: transparent !important;
    color: #000 !important; /* DarkRed */
    border: 2px solid #000 !important;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn-dark:hover {
    background-color: #000 !important;
    color: #fff !important;
    transform: translateY(-2px);
}

#food-list span:first-child {
    text-transform: capitalize;
}

.list-group-item .form-control {
    border: none;
}

p {
    margin: 0;
    padding: 0;
}

.delete-btn {
    color: #fff !important;
}

/* Typography */

#column1, #column2, #column3 {
    font-size: 1.2rem;
    color: #666;
}

.nav-link {
    font-size: 1.2rem;
    margin: 0 0.7rem;
    color: #666;
}

/* Navigation */

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 0;
}

.navbar-nav {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.nav-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    text-align: center;
    z-index: 10;
    background-color: #fff;
    border-top: 1px solid #ddd;
    margin: 0 !important;
}

.btn-danger {
    float: right;
}

.list-group-item {
    position: relative;
   
    padding: 10px;
}

.list-group-item > span:nth-child(2) {
    position: absolute;
    left: 47%;
}

.nav-item {
    margin: 0 25px;
}

/* Buttons */

/* Components */

#food-list .form-control {
    padding: 5px;
    width: fit-content;
    display: inline;
}

#food-list .list-group-item {
    align-items: center;
}

.week-container {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
}

.delete-button {
    float: right;
    color: #999;
}

.delete-btn {
    float: right;
    margin-left: 10px;
    color: #999;
}

.edit, .delete {
    float: right;
    margin-left: 10px;
    color: #999;
}

.editing {
    display: inline-block;
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.selected {
    background-color: #32CD32;
    color: #000;
}

.add-calorie-button:active {
    animation: pulse 0.5s;
}

/* Layout */

.container {
    padding-bottom: 60px; /* Add some space at the bottom for the nav */
    
}